* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-color: #75C6EE;
    height: 675px;
}
nav {
    text-align: center;
    padding-top: 100px;
}
img {
    width: 230px;
    height: 230px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
input{
    background-color: #CFEBFC;
    border: 3px solid #DFF1FD;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 30px;
    width: 390px;
    height: 50px;
    text-align: center;
    float: none;
    margin-top: 20px;
}
#in2{
    background-color: lightblue;
    color: blue;
    padding: 14px;
    font-size: 16px;
    border: 1px solid blue;
    width: 191px;
    cursor: pointer;
}
#in2:hover{
    background-color: gray;
    color: cyan; 
    border: 1px solid cyan; 
}
div{
    width: 400px;
    margin: auto;
}
#in{
    margin-top: 20px;
}
a{
    float: none;
    position: absolute;
    top: 90%;
    left: 44%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}
a:hover{
    color: white;
}