*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #3498DB;
}

table{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

input{
    text-decoration: none;
    color: whitesmoke;
    padding: 12px 16px;
    width: 107px;
    height: 30px;
    background-color: #9834db;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}