*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    background-color: #75C6EE;
    height: 675px;
}
p{
    background-color: #CFEBFC;
    border: 2px solid #DFF2FD;
    height: 30px;
    padding-top: 3px;
}
#a{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #CFEBFC;
    border: 3px solid #DFF1FD;
    border-radius: 30px;
    float: none;
    position: absolute;
    top: 5%;
    left: 40%;
    padding-top: 33px;
    margin-top: 116px;
    width: 260px;
    height: 100px;
}
#a:hover{
    background-color: #7c7c7c;
    border: 3px solid blue;
    color: cyan;
}
#a2{
    float: none;
    position: absolute;
    top: 55%;
    left: 44%;
    font-size:30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}
#a2:hover{
    color:white;
}